@model  FinalProject.Web.Models.EditAnswerViewModel

@{
    ViewBag.Title = "EditAnswer";
}

<h2>Question: <b>@Html.ActionLink(Model.QuestionText,"QuestionDetail", new { id = Model.QuestionId })</b></h2>
<h3>Answer: <b>@Model.AnswerText</b></h3>


<table class="table">
    <tr>
        <th>
            Already Associated
        </th>
    </tr>

    @foreach (var item in Model.PestAnswers)
    {
        <tr>
            <td>
                <label>@Html.CheckBoxFor(x => item.AlreadyAssociated, new { data_pestid = @item.PestId, @class = "pestclick" }) @item.PestName</label>
            </td>
        </tr>
    }

</table>

@section scripts {

    <script>
        $(".pestclick").click(function () {
            var associate = $(this).prop('checked');
            $.ajax({
                method: "POST",
                url: "/admin/updatepestanswer",
                data: { AnswerId: "@Model.AnswerId", PestId: $(this).data('pestid'), Associate: associate }
            })
            .done(function (msg) {
                    console.log("Data Saved: " + msg);
            });
        });

    </script>
}
