@model FinalProject.Web.Models.Pest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLegs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLegs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BigAbdomen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BigAbdomen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistinctCharacterisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistinctCharacterisc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URLInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URLInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
