@model FinalProject.Web.Models.QuestionViewModel

@{
    ViewBag.Title = "Figure Out Bug";
}


<h2>@Model.QuestionText</h2>

@using (Html.BeginForm())
{
@Html.HiddenFor(x => x.QuestionText)

foreach (var ans in Model.Answers)
{
    <div class="radio">
        <label>
            <input type="radio" name="SelectedAnswer" id="answers(@ans.Key)" value="@ans.Key" />
            @ans.Value
        </label>
    </div>
}
<input type="submit" value="next Question >" class="btn btn-primary" />
}